{% extends 'base.html' %}
{% block page_content %}

    <h1 class="text-center">Delete Comment?</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="text-align: center">
            <hr>
            <p style="font-style: italic">"{{ musiccollectioncomment.body }}"</p>
            <p style="text-align: right; font-style: italic; font-weight: lighter">Rating: {{ musiccollectioncomment.rating }}</p>
            <hr>
            <form method="post" action="{% url 'delete comment' musiccollectioncomment.id %}">

                {% csrf_token %}
                {{ form }}

                <button class="btn btn-primary mt-2" type="submit" style="background-color: red; border-color: red">Delete</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>

{% endblock %}