{% extends 'base.html' %}
{% block page_content %}
    <h1 class="text-center">Add Music</h1><hr>

        <div style="text-align: center">
            <form method="post" action="{% url 'music add artist specific' artist_id %}">

                <img id="cover-art" src="" style="width: 90px; height: 90px; object-fit: cover" alt="">
                <br>
                {% csrf_token %}
                <h6>Title:</h6>
                {{ form.title }}

                <h6 id="desc">Description:</h6>
                {{ form.description }}

                <h6>ImageURL:</h6>
                {{ form.link }}

                <h6>Release type:</h6>
                {{ form.type }}

                <br><button class="btn btn-primary mt-2" type="submit">Add</button>
            </form>
        </div>

<script>
    {# Changes "Description" to "Lyrics" when type "Single" is selected #}
    function notEmpty() {

      let e = document.getElementById("id_type");
      let strUser = e.options[e.selectedIndex].value.trim();

      if(strUser === "Single"){
          document.getElementById('desc').innerHTML = "Lyrics: ";
      } else{
          document.getElementById('desc').innerHTML = "Description: ";
      }
    }

    {# DYnamic picture change #}
    function picture_change() {

      let e = document.getElementById("id_link");
      document.getElementById('cover-art').src = e.value;

    }
    picture_change()

    document.getElementById("id_link").onchange = picture_change;

    notEmpty()
    document.getElementById("id_type").onchange = notEmpty;
</script>

{% endblock %}
