{% extends 'base.html' %}
{% block page_content %}

    <h1 class='dashboard-title'>
        {% if artist %}
            All Artists
        {% else %}
            No artists yet
        {% endif %}
    </h1>

    <div class=" row d-flex justify-content-center align-content-center">
            <a href="{% url 'artist create' %}" class="btn btn-lg btn-secondary row align-self-baseline">Add more!</a>
    </div>

    <hr>
    {% if artist %}
        <div style="margin: auto; width: 1190px">
            <div class="row mb-5">
                {% for el in artist %}
                    <div class="card ml-3 mb-3" id="card-ml-3-mb-3">
                        <div class="container">
                                <img src="{{ el.picture }}" alt="Cover Art" id="cover-art" class="image">
                                <div class="middle">
                                    <a href="{% url 'artist details' el.id %}" class="btn btn-primary">See details</a>
                                </div>
                            </div>
                        <div class="card-body">

                            <h4 class="card-text">{{ el.name }}</h4>
                            <hr>
                            <details>
                                    <summary style="list-style-type: none; ">{{ el.description|truncatechars:100 }}</summary>
                                    <li style="list-style-type: ''">{{ el.show_more_description}}</li>
                            </details>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}