{% extends 'base.html' %}

{% block page_content %}
    <h1 class='text-center'>
        {% if not objects %}
            No charts available to be shown
        {% endif %}
    </h1>

    {% if objects %}

        {% if chart_type == 'most_followed_artist' %}
                {% for temp in objects %}
                    <div style="margin: 20px">

                    {% if forloop.counter == 1 %}
                        <ul style="height: 220px; list-style-type: decimal; background-color: #fffadb; border-radius: 25px">
                    {% elif forloop.counter == 2 %}
                        <ul style="height: 220px; list-style-type: decimal; background-color: #f3f3f3; border-radius: 25px">
                    {% elif forloop.counter == 3 %}
                        <ul style="height: 220px; list-style-type: decimal; background-color: #c9bfb7; border-radius: 25px">
                    {% else %}
                        <ul style="height: 220px; list-style-type: decimal; border-radius: 25px">
                    {% endif %}
                            <li style="padding: 10px; overflow: auto">
                                <img src="{{ temp.picture }}" style="width: 200px; height: 200px; float: left; margin: 0 15px 0; border-radius: 10px; object-fit: cover">

                                <a style="font-size: 32px">{{ forloop.counter }}. {{ temp.name }}</a>
                                <p><a style="text-decoration: underline">Followers</a>: {{ temp.number_of_followers }}</p>
                                <p style="font-size: 18px">{{ temp.description|truncatechars:300 }}</p>
                                <p><a href="{% url 'artist details' temp.id %}" class="btn btn-primary">See details</a></p>

                            </li>

                        </ul>

                    </div>
                {% endfor %}
        {% else %}
            {% for temp in objects %}
                <div style="margin: 20px">

                {% if forloop.counter == 1 %}
                    <ul style="height: 220px; list-style-type: decimal; background-color: #fffadb; border-radius: 25px">
                {% elif forloop.counter == 2 %}
                    <ul style="height: 220px; list-style-type: decimal; background-color: #f3f3f3; border-radius: 25px">
                {% elif forloop.counter == 3 %}
                    <ul style="height: 220px; list-style-type: decimal; background-color: #c9bfb7; border-radius: 25px">
                {% else %}
                    <ul style="height: 220px; list-style-type: decimal; border-radius: 25px">
                {% endif %}
                        <li style="padding: 10px; overflow: auto">
                            <img src="{{ temp.link }}" style="width: 200px; height: 200px; float: left; margin: 0 15px 0; border-radius: 10px; object-fit: cover">
                            <a style="font-family: 'Century Gothic', serif; font-size: 28px">{{ forloop.counter }}. {{ temp.title }}| </a>
                            <a style="font: 200 18px/1.5 Georgia, Times New Roman, serif;">{{temp.type}} by <a href="{% url 'artist details' temp.artist.id %}" style="font: 200 18px/1.5 Georgia, Times New Roman, serif;">{{ temp.artist }}</a></a>
                            <p><a style="text-decoration: underline">Saves</a>: {{ temp.number_of_saves }}</p>
                            <p>{{ temp.description|truncatechars:300 }}</p>
                            <p><a href="{% url 'music details' temp.id %}" class="btn btn-primary">See details</a></p>
                        </li>

                    </ul>

                </div>
            {% endfor %}
        {% endif %}

    {% endif %}

{% endblock %}