{% extends 'base.html' %}

{% block page_content %}
    <div class="row">
        <div>
            <img src="{{ track.link }}" alt="cover art" style="width: 200px; height: 200px; "/>
            <a style="font-size: 35pt;">{{ track.title }} |</a>
            On <a href="{% url 'music details' track.collection.id %}">{{ track.collection }}</a>, by
            <a href="{% url 'artist details' track.artist.id %}">{{ track.artist }}</a>

            <hr>
        
            <h4>Lyrics: </h4>
            <p class="mt-2">{{ track.lyrics|linebreaksbr }}</p>

            {% if current_user.is_staff or current_user.is_superuser %}
                <a href="{% url 'track edit' track.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'track delete' track.id %}" class="btn btn-danger">Delete</a>
            {% endif %}

        </div>
    </div>
{% endblock %}