{% extends 'base.html' %}
{% block page_content %}

<div class="container mb-5" style="text-align: center">

    {# Header & Error messages #}
    <h1 class="text-center">Login to Your Profile</h1>
        {% if form.errors %}
            <p style="color: red">Your username and password didn't match. Please try again.</p>
        {% endif %}

    {# Form #}
    <div class="row" style="text-align: center">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">

            <hr>
            <form method="POST">

                {% csrf_token %}
                <h4>Username: </h4>
                {{ form.username }}

                <h4>Password: </h4>
                {{ form.password }}<i class="bi bi-eye-slash" id="togglePassword" style="position: absolute; right: 182px; top: 139px"></i>

                <br>
                <a href="{% url 'profile_create' %}">Don't have an account? Register here!</a>
                <br>
                <button class="btn btn-primary mt-2" type="submit">Log in</button>

            </form>

        </div>
    </div>
</div>

{% endblock %}