<div style="text-align: center">
    <!-- 404 page -->
    <div class="not-found-img">
        <img src="https://cdn-icons-png.flaticon.com/512/3551/3551629.png" alt="404 not found gif">
    </div>

    <div class="not-found">
        <h1>
            Uh oh,<br> something broke.
        </h1>

        <h3>Error 404 - page not found.</h3>
        <!-- Link to Home Page -->
        <a href="{% url 'dashboard music' %}">
            <button>Return to TuneAthenaeum</button>
        </a>
    </div>
    <!-- End 404 page -->
</div>